/* 
    Width: 320px until 2880px
    Height: 240px until 1800px 
*/

@media only screen and (max-width: 1252px) {
    .container--content {
        flex: 1;
    }
}

@media only screen and (max-width: 1206px) {
    .container--miolo {
        flex-direction: column;
    }
    .container--auxiliar {
        overflow: visible;
    }
    .container--miolo {
        overflow: auto;
        padding-right: 15px;
    }
    .container--auxiliar {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }
    .container--content h1 {
        text-align: center;
        width: 100%;    
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 686px) {
    .button--sidebar-retract {
        margin-left: 94px !important;
        z-index: 1;
        margin-top: 0px !important;
    }
    .button--sidebar-expand {
        z-index: 1;
    }
    .container--miolo {
        padding-right: 15px;
        padding-left: 10px;
    }
}
@media only screen and (max-width: 410px) {
    .button--sidebar-retract {
        margin-left: 113px !important;
    }
    .div--search button {
        margin-right: 0px !important;
    }
    .button--sidebar-expand {
        margin-left: -16px !important;
    }
    .container--miolo {
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media only screen and (max-width: 376px) {
    .button--sidebar-expand {
        margin-left: 0px !important;
    }
    .button--sidebar-retract {
        margin-top: 0px !important;
    }
}
@media only screen and (max-width: 344px) {
    .container--miolo {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}