/* 
    Width: 320px until 2880px
    Height: 240px until 1800px 
*/

@media only screen and (max-width: 1252px) {
    .container--content-help {
        flex: 1;
    }
}

@media only screen and (max-width: 1206px) {
    .container--auxiliar-resume {
        overflow: visible;
    }
    .container--auxiliar-resume {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }
    .container--content-help h1 {
        text-align: center;
        width: 100%;    
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 410px) {
    .div--search button {
        margin-right: 0px !important;
    }
}