/***** =================================================================================================================== ******/
/***** ======================================== WIDTH: 320px / 2880px ==================================================== ******/
/***** =================================================================================================================== ******/
@media only screen and (max-width: 1320px) {
    .container--content-news .div--filter-news .formcontrol--tag-news{
        display: block;
    }
    .container--content-news .div--filter-news .button--tag{
        display: none;
    }
    .container--content-news .div--filter-news {
        justify-content: center;
    }
    .container--blackboard-main .div--content-title {
        justify-content: center;
    }
}
@media only screen and (max-width: 1206px){
    .container--content-news .div--filter-news {
        margin-right: 0px;
    }
    .container--blackboard-main .div--content-title {
        margin-right: 0px;
    }
    .container--content-news .div--list-news{
        margin-right: 0px;
        padding-right: 0px;
    }
    .container-questions--help {
        margin-right: 0px;
    }
}
/***** =================================================================================================================== ******/
/***** ======================================== HEIGHT: 550px / 1800px =================================================== ******/
/***** =================================================================================================================== ******/
@media only screen and (max-height: 719px) {
    .react-responsive-modal-modal .div--modalBody-default{
        max-height: 340px !important;
    }
}