/*****
    Width: 320px until 2880px
    Height: 240px until 1800px 
******/

/*****
WIDTH
******/
@media only screen and (max-width: 1206px) {
    .container--content-patients .div--content-title, .container--content-patients .div--search{
        margin-right: 0px !important;
    }
    .container--patients-card{
        margin-right: 0px !important;
        padding-right: 2px !important;
    }
}
@media only screen and (max-width: 730px) {
    .div--individual-card {
        flex-basis: 235px;
    }
}
@media only screen and (max-width: 658px) {
    .div--individual-card {
        flex-basis: 100%
    }
}
@media only screen and (max-width: 848px){
    .div--patients-information-body {
        flex-direction: column;
    }
    .div--patients-information--opened {
        margin-left: 30px;
        margin-right: 30px;
    }
}