/* 
    Width: 320px until 2880px
    Height: 240px until 1800px 
*/

@media only screen and (max-width: 1252px) {
    .container--content {
        flex: 1;
    }
}

@media only screen and (max-width: 1206px) {
    .container--miolo {
        flex-direction: column;
    }

    .container--content .div--info {
        min-height: 220px;
    }

    .container--auxiliar {
        overflow: visible;
    }

    .container--miolo {
        overflow: auto;
        padding-right: 15px;
    }

    .container--auxiliar {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }

    .container--content-main {
        padding-right: 15px;
    }

    .container--content h1 {
        text-align: center;
        width: 100%;    
        margin-bottom: 20px;
    }

    .container--auxiliar .div--bar-right {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 838px) {
    .container--content .div--chart {
        flex-direction: column;
    }

    .container--content .div--chart .revenue {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .container--content .div--chart .expense {
        margin-left: 0px;
    }
    .button--sidebar-expand {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width: 686px) {
    .container--content-main .container--sidebar {
        position: absolute;
        z-index: 1;
        height: calc(100% - 180px);
    }
    .button--sidebar-retract {
        margin-left: 94px !important;
        z-index: 1;
        margin-top: 0px !important;
    }
    .button--sidebar-expand {
        z-index: 1;
    }
    .container--miolo {
        padding-right: 15px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 490px) {
    .container--content .div--info-text {
        padding-right: 20px;
        padding-left: 20px;
    }
    .container--content .div--info-icon {
        display: none;
    }
    .container--auxiliar .div--topbuttons button {
        width: 65px;
    }
}

@media only screen and (max-width: 410px) {
    .container--content-main {
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 0px;
    }
    .container--content-main .container--sidebar {
        margin-left: 0px;
    }
    .button--sidebar-retract {
        margin-left: 113px !important;
    }
    .div--search button {
        margin-right: 0px !important;
    }
    .button--sidebar-expand {
        margin-left: -16px !important;
    }
    .container--miolo {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 376px) {
    .button--sidebar-expand {
        margin-left: 0px !important;
    }
    .button--sidebar-retract {
        margin-top: 0px !important;
    }
    .container--content-main .container--sidebar {
        height: calc(100% - 110px) !important;
        border-bottom-left-radius: 10px;
    }
}

@media only screen and (max-width: 366px) {
    .container--blackboard-main {
        border-radius: 0px !important;
    }
    .container--content-main .container--sidebar {
        height: calc(100% - 110px) !important;
        border-bottom-left-radius: 0px;
    }
}

@media only screen and (max-width: 344px) {
    .container--blackboard-main {
        padding: 0px !important;
    }
    .container--content-main {
        height: calc(100% - 5px) !important;
    }
    .container--miolo {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}