/* 
    Width: 320px until 2880px
    Height: 240px until 1800px 
*/

@media only screen and (max-width: 1252px) {
    .container--content {
        flex: 1;
    }
}

@media only screen and (max-width: 1206px) {
    .container--miolo {
        flex-direction: column;
    }

    .container--content .div--info {
        min-height: 220px;
    }

    .container--auxiliar {
        overflow: visible;
    }

    .container--miolo {
        overflow: auto;
        padding-right: 15px;
    }

    .container--auxiliar {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }

    .container--main-content {
        padding-right: 15px;
    }

    .container--content h1 {
        text-align: center;
        width: 100%;    
        margin-bottom: 20px;
    }

    .container--auxiliar .div--bar-right {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 838px) {
    .container--content .div--chart {
        flex-direction: column;
    }

    .container--content .div--chart .revenue {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .container--content .div--chart .expense {
        margin-left: 0px;
    }
    .navbar-main--top .right--side p{
        display: none;
    }
}

@media only screen and (max-width: 686px) {
    .container--main-content .container--sidebar {
        position: absolute;
        z-index: 1;
        height: calc(100% - 180px);
    }
    .button--sidebar-retract {
        margin-left: 81px !important;
        z-index: 1;
    }
    .button--sidebar-expand {
        z-index: 1;
    }
    .container--miolo {
        padding-right: 15px;
        padding-left: 10px;
    }
}