.div--clients-information{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;

    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.div--clients-information--opened{
    margin-left: 15px;

    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}