.container--content{
    flex: 2 1;
    height: auto;
    display: flex;
    flex-direction: column;
}
.container--auxiliar{
    flex: 1 1;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}
.container--content .div--help-main {
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: white;
}
.container--content .div--help-main div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.container--content .div--help-main div .cleiton{    
    background-image: url("../assets/photo-cleiton.png");
    height: 300px;
    width: 300px;
    background-size: 300px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0px;
}
.container--content .container--help-form{
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2386fd;
    border-radius: 10px;
    color: white;
}

.container--content .container--help-form form{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.container--content .container--help-form p{
    font-size: 16px;
    margin-bottom: 10px;
}

.container--content .container--help-form form input{
    border-radius: 6px;
    border: 0px;
    padding: 10px 20px;
    flex-basis: 45px;
    font-family: 'Averta';
    background-color: white;
}

.container--content .container--help-form form label{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.container--content .container--help-form form textarea{
    flex: 1;
    margin-bottom: 20px;
    font-family: 'Averta';
}

.container--content .container--help-form form input[type=submit]:hover{
    background-color: #f5f6fa;
    color: #62696f;
    border: 1px solid #62696f;
    cursor: pointer;
    font-family: 'Averta Semibold';
    box-shadow: 1px 6px 3px 0px #969696;
}