.form-container{
    flex: 2;
    background: #F5F6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.draw-container{
    flex: 1;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2685FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*.form-container form{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column; /* Cada elemento desse form, estará um abaixo do outro *//*
    background-color: red;
}

.form-container form input{
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.form-container form input ::placeholder{
    color: #999;
}

.form-container  form button {
    margin-top: 10px;
    border: 0px;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background-color: navy;
    color: white;
    cursor: pointer;
}*/