.form-container{
    flex: 2;
    background: #F5F6FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.form-container .form-container--top{
    flex-basis: 20%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
}
.form-container .form-container--middle{
    flex-basis: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}
.form-container .form-container--bottom{
    flex-basis: 20%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}
.form-container .form-container--bottom button{
    font-family: 'Averta Semibold';
    flex-basis: 150px;
    border: 0px;
    height: 45px;
    background-color: transparent;
}
.form-container .form-container--bottom button:hover{
    cursor: pointer;
}

.draw-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2685FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.left--darkblue{
    height: 100%;
    background: url("../assets/draw-container--left--darkblue.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 0px;
    flex-basis: calc(100% - 80px);
}

.right--lightblue{
    height: 100%;
    flex-basis: 80px;
    background-color: #49A0FC;    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.brush--teth{
    background: url("../assets/brush--teeth.svg");
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: 80px;
    position: absolute;
    margin-top: 150px;
    right: 140px;
}
.happy--teeth{
    background: url("../assets/happy--teeth.svg");
    height: 161px;
    width: 90px;
    background-repeat: no-repeat;
    background-size: 90px;
    position: absolute;
    right: 190px;
    bottom: 100px;
}
.cloud--centered{
    background: url("../assets/cloud--centered.svg");
    height: 325px;
    width: 215px;
    background-repeat: no-repeat;
    background-size: 215px;
    position: absolute;
    margin-left: -49px;
    margin-top: 144px;
}
.cloud--bottom{
    background: url("../assets/cloud--bottom.svg");
    height: 71px;
    width: 140px;
    background-repeat: no-repeat;
    background-size: 140px;
    position: absolute;
    bottom: 49px;
    margin-left: 178px;
}
.top--points{
    background: url("../assets/top--points.svg");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    top: 52px;
    margin-left: 2px;
}
.bottom--points{
    background: url("../assets/bottom--points.svg");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    bottom: 52px;
    right: 133px;
}

.form-container form{
    display: flex;
    flex-direction: column;
}

.form-container form .forgot-pass--button{
    font-family: 'Averta Semibold';
    flex-basis: 150px;
    border: 0px;
    height: 45px;
    background-color: transparent;
}
.form-container form input{
    margin-top: 20px;
}

.form-container form .form-container--action{
    display: flex;
    margin-top: 20px;
}

.form-container form .form-container--action .form-container--action--leftSplitter{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form-container form .form-container--action .form-container--action--rightSplitter{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}