.navbar-main--top{
    flex-basis: 75px;
    display: flex;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.navbar-main--top .left--side{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navbar-main--top .left--side .logo{
    height: 42px;
    width: 135px;
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: 8px;
    margin-left: -19px;    
    background-image: url("../assets/nubibuz-logotipo---blue.svg");
}
.navbar-main--top em{
    color: #2386fd;
    text-decoration: none;
    font-style: normal;
}
.navbar-main--top .right--side{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-main--top .right--side .alert{
    height: 20px;
    width: 20px;
    margin-right: 20px;
    background-image: url("../assets/alarm-icon--black.svg");
}
.navbar-main--top .right--side .photo{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("../assets/profile_pic.jpg");
    background-size: 50px;
    border-radius: 10px;
}
.navbar-main--top .right--side .button-project{
    height: 50px;
    width: 50px;
}
.container--content h1{
    font-family: 'Averta Extra Bold';
    font-size: 25px;
}
.container--main-content{
    height: calc(100% - 80px);
    flex-direction: row;
    display: flex;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f6fa;
}
.container--main-content p, .container--main-content button{
    font-size: 14px;
}
.container--miolo{
    flex: 1;
    display: flex;
}

.container--main-content .container--sidebar{
    flex-basis: 115px;
    display: flex;
    margin-left: -30px;
    margin-top: -20px;
    margin-right: 30px;
    background-color: white;
}
.container--content{
    flex: 2 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container--main-content .container--auxiliar{
    flex: 1 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 20px;
}
.container--main-content .container--sidebar .sidebar{
    flex: 1 1;
    overflow: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.container--main-content .container--sidebar .sidebar button{
    height: 50px;
    width: 50px;
    display: list-item;
    margin: 0 auto;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15px;
}
.container--main-content .container--sidebar .sidebar button:hover, .container--main-content .container--sidebar .sidebar .selected{
    cursor: pointer;
    animation-duration: 4s;
    background-color: #2386fd;
    background-position: 15px;
    box-shadow: 1px 9px 12px -8px #4e4e4e;
}
/*.container--main-content .container--sidebar .sidebar .icons button p{
    display: none;
}
.container--main-content .container--sidebar .sidebar .icons button:hover p{
    color: white;
    display: block;
    font-size: 16px;
    margin-left: 7px;
    padding-right: 25px;
    padding-left: 45px;
}*/
.container--content .div--title{
    flex-basis: 40px;
    display: flex;
    align-items: end;
}

.container--content .div--search{
    display: flex;
    border-radius: 10px;
    background-color: white;
    flex-basis: 40px;
    align-items: center;
}
.container--content .div--search input{
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}
.container--content .div--search input:focus{
    box-shadow: 0px 0px 0px 0px;
}
.container--content .div--search button{   
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    border: 0px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
}
.container--content .div--search button:hover{    
    background-color: #f5f6fa;
    cursor: pointer;
}
.container--content .div--search #limpa{
    background-image: url("../assets/x-icon--black.svg");
    background-size: 14px;
    background-position: 10px 11px;
}
.container--content .div--search #limpa:hover{
    background-image: url("../assets/x-icon--blue.svg"); 
}
.container--content .div--search #lupa{
    background-image: url("../assets/search-icon--black.svg");
    background-size: 18px;
    background-position: 9px 7px;
}
.container--content .div--search #lupa:hover{
    background-image: url("../assets/search-icon--blue.svg"); 
}
.container--content .div--info{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: red;
}
.container--content .div--chart{
    display: flex;
    flex: 1 1;
}
.container--content .div--chart .revenue{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: navy;
    margin-right: 2.5px;
}
.container--content .div--chart .expense{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: green;
    margin-left: 2.5px;
}
.container--auxiliar .div--topbuttons{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-basis: 40px;
}
.container--auxiliar .div--topbuttons button{
    border: 0px;
    border-bottom: 1px solid #b2b2b2;
    background-color: transparent;
    width: 100px;
    height: 40px;
    color: #b2b2b2;
}
.container--auxiliar .div--topbuttons button:hover, .container--auxiliar .div--topbuttons .selected{
    cursor: pointer;
    color: black;
    border-bottom: 3px solid #2386fd;
    font-family: 'Averta Bold';
}
.container--auxiliar .div--line{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2.5px;
    margin-top: 5px;
}
.div--titles, .div--details{
    flex-basis: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.div--titles{
    margin-top: 10px;
}
.div--titles p{
    font-size: 12px;
    margin-right: 10px;
    color: #b2b2b2;
}
.div--details{
    justify-content: flex-end;
    justify-items: flex-end;
    margin-bottom: 10px;
}
.div--details button{
    height: 30px;
    width: 30px;
    cursor: pointer;
    animation-duration: 4s;
    background-color: #ffffff;
    box-shadow: 1px 9px 12px -8px #4e4e4e;
    border: 0px;
    border-radius: 5px;
    background-position: 8px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url("../assets/right-arrow--blue.svg"); 
}
.div--details button:hover{
    background-color: #2386fd;
    background-image: url("../assets/right-arrow--white.svg"); 
}
.div--details p{
    font-size: 12px;
    margin-right: 10px;
    color: #b2b2b2;
}
.div--chart-final{
    flex: 1 1;
    padding-left: 10px;
    padding-right: 10px;
}
.container--auxiliar .div--chart-bottom{
    display: flex;
    flex: 1 1;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-radius: 10px;
}
.container--auxiliar .div--bar-left{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: white;
    margin-right: 2.5px;
    flex-direction: column;
}
.container--auxiliar .div--bar-right{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: white;
    margin-left: 2.5px;    
    flex-direction: column;
}
.button--sidebar-retract{
    height: 30px;
    position: fixed;
    margin-left: 115px;
    width: 22px;
    margin-top: 68px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0px;
    background-color: white;    
    background-image: url("../assets/arrowleft-icon--black.svg");
    background-size: 15px;
    background-position: 2px;
    background-repeat: no-repeat;
}
.button--sidebar-retract:hover{
    background-image: url("../assets/arrowleft-icon--white.svg");
    cursor: pointer;
    background-color: #2386fd;
    background-position: 2px;
}