.main-navbar--top{
    height: auto;
    display: flex;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.main-navbar--top .left-side{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.main-navbar--top .left-side .logo{
    height: 42px;
    width: 120px;
    background-size: 75px;
    background-repeat: no-repeat;
    background-image: url("../assets/nubibuz-logotipo---blue.svg");
    background-position: 8px; 
}
.main-navbar--top em{
    color: #2386fd;
    text-decoration: none;
    font-style: normal;
}
.main-navbar--top .right-side{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-navbar--top .right-side .alert{
    height: 20px;
    width: 20px;
    margin-right: 20px;
    background-image: url("../assets/alarm-icon--black.svg");
}
.main-navbar--top .right-side .photo{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("../assets/profile_pic.jpg");
    background-size: 50px;
    border-radius: 10px;
}
.main-navbar--top .right-side .project-button{
    height: 50px;
    width: 50px;
}
.miolo-container h1{
    font-family: 'Averta Extra Bold';
    font-size: 25px;
}

.main-container--content{
    flex: 1 1;
    flex-direction: row;
    display: flex;
    background-color: #f5f6fa;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-container--content p, .main-container--content button{
    font-size: 14px;
}

.main-container--content .sidebar-container{
    flex-basis: 120px;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-content: center;
    padding-top: 40px;
}
.miolo-container{
    flex: 2 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-container--content .auxiliar-container{
    flex: 1 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 20px;
}
.main-container--content .sidebar-container .sidebar{
    height: 400px;
    width: 90px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-right: 5px;
    padding-left: 5px;
}
.main-container--content .sidebar-container .sidebar .icons{
    height: calc(100% - 70px);
    width: calc(100% + 25px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-container--content .sidebar-container .sidebar .icons button{
    height: 50px;
    width: 51px;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 15px;
    margin-left: 27px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15px;
}
.main-container--content .sidebar-container .sidebar .icons button:hover, .main-container--content .sidebar-container .sidebar .icons .selected{
    cursor: pointer;
    animation-duration: 4s;
    background-color: #2386fd;
    background-position: 15px;
    box-shadow: 1px 9px 12px -8px #4e4e4e;
}
/*.main-container--content .sidebar-container .sidebar .icons button p{
    display: none;
}
.main-container--content .sidebar-container .sidebar .icons button:hover p{
    color: white;
    display: block;
    font-size: 16px;
    margin-left: 7px;
    padding-right: 25px;
    padding-left: 45px;
}*/
.main-container--content .sidebar-container .sidebar .arrows{
    height: 20px;
    width: 45px;
    border: 0px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 15px;
    border-radius: 4px;
}
.main-container--content .sidebar-container .sidebar .arrows:hover{
    background-color: #ececec;
    cursor: pointer;
}
.miolo-container .title-div{
    flex-basis: 40px;
    display: flex;
    align-items: end;
}

.miolo-container .search-div{
    display: flex;
    border-radius: 10px;
    background-color: white;
    flex-basis: 40px;
    align-items: center;
}
.miolo-container .search-div input{
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}
.miolo-container .search-div input:focus{
    box-shadow: 0px 0px 0px 0px;
}

.miolo-container .search-div button{   
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    border: 0px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
}
.miolo-container .search-div button:hover{    
    background-color: #f5f6fa;
    cursor: pointer;
}
.miolo-container .search-div #limpa{
    background-image: url("../assets/x-icon--black.svg");
    background-size: 14px;
    background-position: 10px 11px;
}
.miolo-container .search-div #limpa:hover{
    background-image: url("../assets/x-icon--blue.svg"); 
}

.miolo-container .search-div #lupa{
    background-image: url("../assets/search-icon--black.svg");
    background-size: 18px;
    background-position: 9px 7px;
}
.miolo-container .search-div #lupa:hover{
    background-image: url("../assets/search-icon--blue.svg"); 
}

.miolo-container .info-div{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: red;
}

.miolo-container .chart-div{
    display: flex;
    flex: 1 1;
}
.miolo-container .chart-div .revenue{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: navy;
    margin-right: 2.5px;
}
.miolo-container .chart-div .expense{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: green;
    margin-left: 2.5px;
}
.auxiliar-container .topbuttons-div{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-basis: 40px;
}
.auxiliar-container .topbuttons-div button{
    border: 0px;
    border-bottom: 1px solid #b2b2b2;
    background-color: transparent;
    width: 100px;
    height: 40px;
    color: #b2b2b2;
}
.auxiliar-container .topbuttons-div button:hover, .auxiliar-container .topbuttons-div .selected{
    cursor: pointer;
    color: black;
    border-bottom: 3px solid #2386fd;
    font-family: 'Averta Bold';
}
.auxiliar-container .line-div{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2.5px;
    margin-top: 5px;
}
.title-for-divs, .details-for-divs{
    flex-basis: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.title-for-divs{
    margin-top: 10px;
}
.title-for-divs p{
    font-size: 12px;
    margin-right: 10px;
    color: #b2b2b2;
}
.details-for-divs{
    justify-content: flex-end;
    justify-items: flex-end;
    margin-bottom: 10px;
}
.details-for-divs button{
    height: 30px;
    width: 30px;
    cursor: pointer;
    animation-duration: 4s;
    background-color: #ffffff;
    box-shadow: 1px 9px 12px -8px #4e4e4e;
    border: 0px;
    border-radius: 5px;
    background-position: 8px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url("../assets/right-arrow--blue.svg"); 
}
.details-for-divs button:hover{
    background-color: #2386fd;
    background-image: url("../assets/right-arrow--white.svg"); 
}

.details-for-divs p{
    font-size: 12px;
    margin-right: 10px;
    color: #b2b2b2;
}

.final-chart{
    flex: 1 1;
    padding-left: 10px;
    padding-right: 10px;
}
.auxiliar-container .chart-div--bottom{
    display: flex;
    flex: 1 1;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-radius: 10px;
}
.auxiliar-container .bar-div--left{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: coral;
    margin-right: 2.5px;
}
.auxiliar-container .bar-div--right{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: red;
    margin-left: 2.5px;
}