.main-navbar--top{
    height: auto;
    display: flex;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.main-navbar--top .left-side{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.main-navbar--top .left-side .logo{
    height: 42px;
    width: 120px;
    background-size: 75px;
    background-repeat: no-repeat;
    background-image: url("../assets/nubibuz-logotipo---blue.svg");
    background-position: 8px; 
}
.main-navbar--top em{
    color: #2386fd;
    text-decoration: none;
    font-style: normal;
}
.main-navbar--top .right-side{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-navbar--top .right-side .alert{
    height: 20px;
    width: 20px;
    margin-right: 20px;
    background-image: url("../assets/alarm-icon--black.svg");
}
.main-navbar--top .right-side .photo{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("../assets/profile_pic.jpg");
    background-size: 50px;
    border-radius: 10px;
}
.main-navbar--top .right-side .project-button{
    height: 50px;
    width: 50px;
}
.main-header--content{
    height: auto;
    display: flex;
    background-color: #f5f6fa;
    flex-direction: row;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-header--content .begin--spaced{
    flex-basis: 120px;
}
.main-header--content .middle--spaced{
    flex: 2;
    align-items: flex-end;
    justify-content: left;
    justify-items: center;
    display: flex;
}
.main-header--content .middle--spaced h1{
    font-family: 'Averta Extra Bold';
    font-size: 25px;
}

.main-header--content .end--spaced{
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: center;
    display: flex;
}
.main-header--content .days-groupButton button{
    border: 0px;
    border-bottom: 1px solid #b2b2b2;
    background-color: transparent;
    width: 100px;
    height: 40px;
    color: #b2b2b2;
}
.main-header--content .days-groupButton button:hover, .main-header--content .days-groupButton .selected{
    cursor: pointer;
    color: black;
    border-bottom: 3px solid #2386fd;
    font-family: 'Averta Bold';
}

.main-container--content{
    flex: 1 1;
    flex-direction: row;
    display: flex;
    background-color: #f5f6fa;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.main-container--content .sidebar-container{
    flex-basis: 120px;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-content: center;
}
.main-container--content .miolo-container{
    flex: 1;
    height: 100%;
}
.main-container--content .sidebar-container .sidebar{
    height: 400px;
    width: 90px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-right: 5px;
    padding-left: 5px;
}
.main-container--content .sidebar-container .sidebar .icons{
    height: calc(100% - 70px);
    width: calc(100% + 25px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-container--content .sidebar-container .sidebar .icons button{
    height: 50px;
    width: 51px;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 15px;
    margin-left: 27px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15px;
}
.main-container--content .sidebar-container .sidebar .icons button:hover, .main-container--content .sidebar-container .sidebar .icons .selected{
    cursor: pointer;
    animation-duration: 4s;
    background-color: #2386fd;
    background-position: 15px;
    box-shadow: 1px 9px 12px -8px #4e4e4e;
}
/*.main-container--content .sidebar-container .sidebar .icons button p{
    display: none;
}
.main-container--content .sidebar-container .sidebar .icons button:hover p{
    color: white;
    display: block;
    font-size: 16px;
    margin-left: 7px;
    padding-right: 25px;
    padding-left: 45px;
}*/
.main-container--content .sidebar-container .sidebar .arrows{
    height: 20px;
    width: 45px;
    border: 0px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 15px;
    border-radius: 4px;
}
.main-container--content .sidebar-container .sidebar .arrows:hover{
    background-color: #ececec;
    cursor: pointer;
}