/* CSS Global */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}

body{
  background: #f5f6fa;
}

/* Font-Face */
@font-face {
  font-family: 'Averta';
  font-style: normal;
  src: url('./assets/Averta.otf');
}
@font-face {
  font-family: 'Averta Semibold';
  font-style: normal;
  src: url('./assets/AvertaSemibold.otf');
}

/* Por padrão, o Input e o Button não herdam a fonte do corpo do HTML */
body, input, button{
  font-family: 'Averta';
}

input, select, textarea{
  height: 45px;
  border-radius: 6px;
  padding: 10px;
  border: 0px;
}
input:focus, select:focus, textarea:focus{
  box-shadow: 0px 5px 7px 0px #dedede;
}

/* Container Padrões */
.father-container{
  display: flex;
  height: 100%;
  background-color: #007BFF;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 40px;
}
.blackboard-container{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}
.blackboard-container--columnar{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #fefeff;
  padding: 10px;
  border-radius: 15px;
}
.labelType-button{
  font-family: 'Averta Semibold';
  flex-basis: 150px;
  border: 0px;
  height: 45px;
  background-color: transparent;
}
.labelType-button:hover{
  color: #B4B7BD;
  cursor: pointer;
}

/* // Principal Normal Buttons // */
.primary-button--rectangle{
  height: 45px;
  border: 0px;
  border-radius: 6px;
  background-color: #2584FE;
  color: white;
  width: 200px;
  cursor: pointer;
}
.primary-button--rectangle:hover{
  height: 45px;
  border-radius: 6px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 1px solid #62696f;
  width: 200px;
  cursor: pointer;
  font-family: 'Averta Semibold';
}
.secondary-button--rectangle{
  height: 45px;
  border-radius: 6px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 1px solid #62696f;
  width: 200px;
  cursor: pointer;
  font-family: 'Averta Semibold';
}
.secondary-button--rectangle:hover{
  height: 45px;
  border-radius: 6px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 1px solid #62696f;
  width: 200px;
  cursor: pointer;
  font-family: 'Averta Semibold';
  box-shadow: 1px 6px 3px 0px #969696;
}

/* // Principal Middle Buttons // */
.primary-button--rectangle--middle---size{
  height: 45px;
  border: 0px;
  border-radius: 6px;
  background-color: #2584FE;
  color: white;
  width: 150px;
  cursor: pointer;
}
.primary-button--rectangle--middle---size:hover{
  height: 45px;
  border-radius: 6px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 1px solid #62696f;
  width: 150px;
  cursor: pointer;
  font-family: 'Averta Semibold';
}

.secondary-button--rectangle--middle---size{
  height: 45px;
  border-radius: 6px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 1px solid #62696f;
  width: 150px;
  cursor: pointer;
  font-family: 'Averta Semibold';
}
.secondary-button--rectangle--middle---size:hover{
  height: 45px;
  border-radius: 6px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 1px solid #62696f;
  width: 150px;
  cursor: pointer;
  font-family: 'Averta Semibold';
  box-shadow: 1px 6px 3px 0px #969696;
}
.lrbuton{
  display: flex;
  align-items: center;
  justify-content: center;
}
.lrbuton i{
  height: 20px;
  width: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  margin-left: 10px;
}