.icon--plus{background-image: url("./assets/plus-icon-grey.svg");}

.icon--home{background-image: url("./assets/home-icon--black.svg");}
.icon--home-white, .icon--home:hover{background-image: url("./assets/home-icon--white.svg");}

.icon--agendamentos{background-image: url("./assets/calendar-icon--black.svg");}
.icon--agendamentos:hover{background-image: url("./assets/calendar-icon--white.svg");}

.icon--pacientes{background-image: url("./assets/patient-icon--black.svg");}
.icon--pacientes:hover{background-image: url("./assets/patient-icon--white.svg");}

.icon--financas{background-image: url("./assets/finances-icon--black.svg");}
.icon--financas:hover{background-image: url("./assets/finances-icon--white.svg");}

.icon--exams{background-image: url("./assets/exams-icon--black.svg");}
.icon--exams:hover{background-image: url("./assets/exams-icon--white.svg");}

.icon--procedure{background-image: url("./assets/procedure-icon--black.svg");}
.icon--procedure:hover{background-image: url("./assets/procedure-icon--white.svg");}

.icon--laboratory{background-image: url("./assets/laboratory-icon--black.svg");}
.icon--laboratory:hover{background-image: url("./assets/laboratory-icon--white.svg");}

.icon--news{background-image: url("./assets/news-icon--black.svg"); background-position: 13px !important;}
.icon--news:hover{background-image: url("./assets/news-icon--white.svg");}

.icon--help{background-image: url("./assets/help-icon--black.svg");}
.icon--help:hover{background-image: url("./assets/help-icon--white.svg");}

.icon--contact{background-image: url("./assets/contact-icon--black.svg");}
.icon--contact:hover{background-image: url("./assets/contact-icon--white.svg");}

.icon--nubibuz{background-image: url("./assets/nubibuz-icon--black.svg"); background-size: 42px !important;
    background-position: 4px !important;}
.icon--nubibuz:hover{background-image: url("./assets/nubibuz-icon--white.svg"); background-size: 42px !important;
    background-position: 4px !important;}

.icon--arrowup{background-image: url("./assets/arrowup-icon--black.svg");}

.icon--arrowdown{background-image: url("./assets/arrowdown-icon--black.svg");}

.icon--exit{background-image: url("./assets/exit-icon--black.svg");}
.icon--exit-white:hover{
    background-image: url("./assets/exit-icon--white.svg");
    background-image: url(/static/media/exit-icon--white.3a1071f5.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 12px;
}
.icon--exit-white:hover p{
    display: none;
}