.container--content-agenda{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
}
.container--content-agenda h1{
    font-family: 'Averta Extra Bold';
    font-size: 20px;
}
.div--content-agenda{
    margin-right: 25px;
    overflow: hidden;
    padding-right: 25px;
}

/* Agenda Component */
.rbc-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}
.teste{
    flex: 1;
    overflow: scroll;
    padding-right: 10px;
}

.div--content-agenda .rbc-toolbar button:hover{
    cursor: pointer;
}
.div--content-agenda .rbc-toolbar button{
    height: 50px;
    width: 85px;
    border-radius: 10px;
    border: 0px;
    background-color: #fefeff;
}
.div--content-agenda .rbc-toolbar button:hover, .rbc-toolbar button:active, .rbc-toolbar button.rbc-active, .rbc-toolbar button:focus{
    cursor: pointer !important;
    animation-duration: 1s !important;
    background-color: #2386fd !important;
    background-position: 15px !important;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    transition: 0.2s !important;
    color: white !important;
}

.rbc-month-view, .rbc-time-view, .rbc-agenda-table, .rbc-agenda-content{
    border: 1px solid #fefeff !important;
    background-color: #fefeff;
}

/* Agenda Button Languages */
.rbc-toolbar > .rbc-btn-group > button{
    text-indent: -9999px;
    line-height: 0;
}
.rbc-toolbar > .rbc-btn-group:nth-child(1) > button:nth-child(1):after {
    content: "Hoje";
    text-indent: 0;
    display: block;
    line-height: initial;
}
.rbc-toolbar > .rbc-btn-group:nth-child(1) > button:nth-child(2):after {
    content: "Anterior";
    text-indent: 0;
    display: block;
    line-height: initial;
}
.rbc-toolbar > .rbc-btn-group:nth-child(1) > button:nth-child(3):after {
    content: "Próximo";
    text-indent: 0;
    display: block;
    line-height: initial;
}

.rbc-toolbar > .rbc-btn-group:nth-child(3) > button:nth-child(1):after {
    content: "Mês";
    text-indent: 0;
    display: block;
    line-height: initial;
}
.rbc-toolbar > .rbc-btn-group:nth-child(3) > button:nth-child(2):after {
    content: "Semana";
    text-indent: 0;
    display: block;
    line-height: initial;
}
.rbc-toolbar > .rbc-btn-group:nth-child(3) > button:nth-child(3):after {
    content: "Dia";
    text-indent: 0;
    display: block;
    line-height: initial;
}
.rbc-toolbar > .rbc-btn-group:nth-child(3) > button:nth-child(4):after {
    content: "Agenda";
    text-indent: 0;
    display: block;
    line-height: initial;
}

.rbc-agenda-table > thead > tr > th:nth-child(1){
    text-indent: -9999px;
    line-height: 0;
    width: 91.4px !important;
}
.rbc-agenda-table > thead > tr > th:nth-child(1):after {
    content: "Data";
    text-indent: 0;
    display: block;
    line-height: initial;
}
.rbc-agenda-table > thead > tr > th:nth-child(2){
    text-indent: -9999px;
    line-height: 0;
}
.rbc-agenda-table > thead > tr > th:nth-child(2):after {
    content: "Horário";
    text-indent: 0;
    display: block;
    line-height: initial;
}
.rbc-agenda-table > thead > tr > th:nth-child(3){
    text-indent: -9999px;
    line-height: 0;
}
.rbc-agenda-table > thead > tr > th:nth-child(3):after {
    content: "Evento";
    text-indent: 0;
    display: block;
    line-height: initial;
}
.rbc-off-range-bg {
    background: #ececec !important;
}
.rbc-today {
    background-color: #a0cbff;
}
.rbc-event{
    background-color: #2386fd !important;
    border: 1px solid white !important;
}
.rbc-toolbar .rbc-toolbar-label{
    font-family: 'Averta Semibold';
}