/* CSS Global */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}

body{
  background: #f5f6fa;
}

/* Por padrão, o Input e o Button não herdam a fonte do corpo do HTML */
body, input, button, h1, h2, h3, h4, h5, h6, textarea{
  font-family: 'Averta';
}

body, input, button, textarea{
  font-size: 14px;
}

input, select, textarea{
  height: 45px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
}

/* Scrollbar */
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar
{
	width: 4px;
  background-color: #fefeff;
}
::-webkit-scrollbar-thumb
{
	border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(73, 73, 73, 0.3);
}

/* Container Padrões */
.container--app-father{
  display: flex;
  height: 100%;
  background-color: #2679d3;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 35px;
}

/* BOTÕES NORMALIZADOS */
.button--white-square{
  border-radius: 10px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-family: 'Averta Semibold';
}
.button--white-square:hover{
  border-radius: 10px;
  background-color: #007BFF;
  color: white;
  border: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-family: 'Averta Semibold';
}
.input--white-context-wth-shadow{
  background-color: white;
  width: 100%;
  height: 45px;
  padding: 10px 20px;
  font-family: 'Averta';
  font-weight: 300;
  border: 0px;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
.button--white-context{
  height: 45px !important;
  border-radius: 10px !important;
  background-color: #f5f6fa !important;
  color: #62696f !important;
  border: 1px solid #b5b5b5 !important;
  cursor: pointer !important;
  font-family: 'Averta Semibold' !important;
  font-size: 14px !important;
  text-transform: none !important;
}
.button--white-context:hover{
  height: 45px  !important;
  border-radius: 10px !important;
  background-color: #f5f6fa !important;
  color: #62696f !important;
  border: 1px solid #62696f !important;
  cursor: pointer !important;
  font-family: 'Averta Semibold' !important;
  box-shadow: 1px 6px 3px 0px #969696 !important;
  font-size: 14px !important;
}
.p--subtitle{
  font-size: 16px;
}
.button--blue-context{
  height: 45px !important;
  border: 0px !important;
  border-radius: 10px !important;
  background-color: #2584FE !important;
  color: white !important;
  cursor: pointer;
  text-transform: none !important;
  font-family: 'Averta Semibold' !important;
}
.button--blue-context:hover{
  height: 45px !important;
  border-radius: 10px !important;
  background-color: #f5f6fa !important;
  color: #62696f !important;
  border: 1px solid #62696f !important;
  cursor: pointer !important;
  font-family: 'Averta Semibold' !important;
  box-shadow: 1px 6px 3px 0px #969696 !important;
  font-size: 14px !important;
}

.button--grey-label_underlined {
  border: 0px;
  border-bottom: 1px solid #b2b2b2;
  background-color: transparent;
  width: 100px;
  height: 40px;
  color: #b2b2b2;
}

.button--grey-label_underlined:hover, .button--black-label:hover {
  cursor: pointer;
  color: black;
  border-bottom: 3px solid #2386fd;
  font-family: 'Averta Bold';
}

.button--black-label{
  font-family: 'Averta Semibold';
  flex-basis: 150px;
  border: 0px;
  height: 45px;
  background-color: transparent;
}

/* Componentes de Input */
.MuiInputBase-input{
  height: 35px !important;
}

.MuiPickersDay-daySelected {
  background-color: #2386fd !important;
}
.MuiPickersDay-current {
  color: #2386fd;
}
.MuiSelect-select.MuiSelect-select{
  margin-top: 4px;
}
.MuiIconButton-colorSecondary:hover {
  background-color: rgba(18, 125, 255, 0.11);
}
.MuiIconButton-root:hover {
  background-color: rgba(18, 125, 255, 0.11);
}
.hideComponent{
  display: none !important;
}
.showComponent{
  display: block !important;
}
.div--endrepeat-mode-chosen .MuiInputBase-root.Mui-disabled{
  border-bottom: 0px !important;
}
.MuiIconButton-root:hover{
  background-color: #2386fd !important;
  background-position: 15px !important;
  color: white !important;
  box-shadow: 0px 1px 2px 0px #2386fd4d !important;
}
.MuiSelect-select:focus{
  background-color: transparent !important;
}
.label--focused{
  color: #2386fd !important;
}
.MuiSlider-root{
  color: #2386fd !important;
}

/* Inputs */
.MuiInputLabel-shrink{
  transform: translate(0, -2.5px) scale(1) !important;
}
.MuiTypography-overline {
  font-size: 14px;
  font-family: "Averta";
}