/* CSS Global */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}

body{
  background: #f5f6fa;
}

/* Por padrão, o Input e o Button não herdam a fonte do corpo do HTML */
body, input, button, h1, h2, h3, h4, h5, h6{
  font-family: 'Averta';
}

body, input, button{
  font-size: 13.7px;
}

input, select, textarea{
  height: 45px;
  border-radius: 6px;
  padding: 10px;
  border: 0px;
}

input:focus, select:focus, textarea:focus{
  box-shadow: 0px 5px 7px 0px #dedede;
}

/* Scrollbar */
div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
div::-webkit-scrollbar
{
	width: 4px;
  background-color: #fefeff;
}
div::-webkit-scrollbar-thumb
{
	border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(73, 73, 73, 0.3);
}

/* Container Padrões */
.container--app-father{
  display: flex;
  height: 100%;
  background-color: #2679d3;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 35px;
}

/* BOTÕES NORMALIZADOS */
.button--white-square{
  border-radius: 10px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-family: 'Averta Semibold';
}
.button--white-square:hover{
  border-radius: 10px;
  background-color: #007BFF;
  color: white;
  border: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-family: 'Averta Semibold';
}
.input--white-context-wth-shadow{
  background-color: white;
  width: 100%;
  height: 45px;
  padding: 10px 20px;
  font-family: 'Averta';
  font-weight: 300;
  border: 0px;
  border-radius: 4px;
  font-size: 13.7px;
  padding-left: 20px;
  padding-right: 20px;
}
.button--white-context{
  height: 45px;
  border-radius: 6px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 1px solid #b5b5b5;
  cursor: pointer;
  font-family: 'Averta Semibold';
  font-size: 13.7px;
}
.button--white-context:hover{
  height: 45px;
  border-radius: 6px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 1px solid #62696f;
  cursor: pointer;
  font-family: 'Averta Semibold';
  box-shadow: 1px 6px 3px 0px #969696;
  font-size: 14px;
}
.p--subtitle{
  font-size: 16px;
}
.button--blue-context{
  height: 45px;
  border: 0px;
  border-radius: 6px;
  background-color: #2584FE;
  color: white;
  cursor: pointer;
}
.button--blue-context:hover{
  height: 45px;
  border-radius: 6px;
  background-color: #f5f6fa;
  color: #62696f;
  border: 1px solid #62696f;
  cursor: pointer;
  font-family: 'Averta Semibold';
  box-shadow: 1px 6px 3px 0px #969696;
  font-size: 14px;
}

.button--grey-label_underlined {
  border: 0px;
  border-bottom: 1px solid #b2b2b2;
  background-color: transparent;
  width: 100px;
  height: 40px;
  color: #b2b2b2;
}

.button--grey-label_underlined:hover, .button--black-label:hover {
  cursor: pointer;
  color: black;
  border-bottom: 3px solid #2386fd;
  font-family: 'Averta Bold';
}

.button--black-label{
  font-family: 'Averta Semibold';
  flex-basis: 150px;
  border: 0px;
  height: 45px;
  background-color: transparent;
}