.container--content-clients h1 {
    font-family: 'Averta Extra Bold';
    font-size: 20px;
}
.container--content-clients{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.container--clients-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1;
    overflow: auto;
    margin-right: 12.5px;
    padding-right: 12.5px;
}
.div--individual-card {
    display: flex;
    margin-bottom: 20px;
    flex-basis: 275px;
    max-height: 275px;
    min-height: 275px;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
.div--individual-card .div--card-background {
    background-color: white;
    flex: 1 1;
    width: calc(100% - 6px);
    align-items: center;
    justify-content: center;
    margin-top: -45px;
    margin-right: 3px;
    margin-left: 3px;
    box-shadow: 0px 0px 15px 0px #eaeaea;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.div--individual-card .div--card-picture{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-size: 97px;
    border: 3px solid #ececec;
}
.div--individual-card .div--card-picture img{
    height: 94px;
    width: 94px;
    border-radius: 10px;
}
.div--individual-card .div--card-name{
    font-family: "Averta Semibold";
    font-size: 16px;
    margin-top: 10px;
}
.div--individual-card .div--card-contact{
    color: #707070;
    margin: 5px;
}

.div--individual-card:hover .div--card-background {
    cursor: pointer !important;
    animation-duration: 1s !important;
    background-color: #2386fd !important;
    background-position: 15px !important;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    transition: 0.2s !important;
    color: white !important;
}
.div--individual-card:hover .button--card-delete{
    background-color: white;
    border-radius: 10px;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
    min-width: 50px;
    width: 50px;
    padding: 0px !important;
    border: 1.5px solid #ffffffbf;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    color: black;
}
.div--individual-card:hover .button--card-delete .MuiSvgIcon-root{
    font-size: 28px;
}

.div--individual-card:hover .div--card-contact {
    color: white !important;
}
.container--content-clients .div--search{
    margin-bottom: 20px;
}
.container--content-clients .div--card-address{
    margin-top: 10px;
}
.container--content-clients .div--content-title, .container--content-clients .div--search{
    margin-right: 28px;
}
.container--content-clients .button--card-delete{
    border-radius: 10px;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
    min-width: 50px;
    width: 50px;
    padding: 0px !important;
    color: transparent;
}
.container--clients-toolbar{
    display: flex;
    margin-right: 28px;
}
.container--clients-toolbar div:nth-child(1){
    flex: 1;
}
.container--clients-toolbar div:nth-child(1){
    flex-basis: 110px;
}

/* Div dentro do modal de eventos */
.div--clients-information form{
    flex-direction: row;
    display: flex;
}
.div--clients-information .agenda--component{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100% !important;
    margin: 0;
    margin-top: 5px;
}
.div--clients-information .MuiFormControl-marginNormal {
    width: 140px !important;
}
.div--clients-information .div--agendaForm-times .MuiSelect-select.MuiSelect-select{
    width: 115px !important;
}
.div--clients-information .agenda--component .MuiFormControlLabel-root:nth-child(2){
    margin-left: 65px;
}
.div--clients-information-body{
    display: flex;
}
.div--clients-information .MuiSelect-select:focus, .div--clients-information input:focus, .div--clients-information select:focus, .div--clients-information textarea:focus {
    background-color: white !important;
    border-radius: 4px !important;
    box-shadow: none;
}
.div--clients-information-divisor{
    display: flex;
    flex: 1 1;
    width: 100% !important;
    flex-direction: column;
}
.div--clients-information-details Button{
    display: flex;
    flex: 1;
    cursor: pointer !important;
    background-color: #2386fd !important;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    width: 100%;
    color: white !important;
    font-family: 'Averta' !important;
    text-transform: none;
    border-radius: 10px;
}