/* SUCCESS */
.ct-toast-success {
    background-color: rgb(237, 247, 237) !important;
    color: rgb(30, 70, 32) !important;
    border-left: 3px solid #4caf50 !important;
}
.ct-toast-success svg path{
    fill: #4caf50 !important;
}

/* INFO */
.ct-toast-info .button--confirmation{
    border: 0px;
    margin-top: 10px;
    width: 45px;
    height: 25px;
    background-color: #006df0;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.ct-toast-info .button--cancel{
    border: 0px;
    margin-top: 10px;
    width: 45px;
    height: 25px;
    background-color: #006df0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.ct-toast-info button:hover{
    border: 1px solid #006df0;
    background-color: transparent;
    color: #006df0;
}

/* Warning */
.ct-toast-warn .button--cancel{
    border: 0px;
    margin-top: 10px;
    width: 60px;
    height: 25px;
    background-color: #e8c852;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.ct-toast-warn button:hover{
    border: 1px solid #e8c852;
    background-color: transparent;
    color: #e8c852;
}