.dropzone--container {
  height: 180px;
  width: 180px;
  background-color: #fff;
  border: 2px dashed rgb(128 128 128);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  color:rgb(128 128 128);
  text-align: center;
}
.dropzone--disabled, .dropzone--disabled:hover{
  background-color: #d21f3c !important;
  color: white !important;
  border: 2px dashed white !important;
}
.dropzone--disabled .dropzone--image{
  background-image: url("../icons/upload--white.svg");
  opacity: 10;
}
.dropzone--highlight, .dropzone--container:hover{
  background-color: rgb(35 134 253);
  color: white;
  border: 2px dashed white;
}
.dropzone--highlight .dropzone--image, .dropzone--container:hover .dropzone--image{
  background-image: url("../icons/upload--white.svg");
  opacity: 10;
}
.dropzone--input {
  display: none;
}
.dropzone--image{
  background-image: url("../icons/upload--black.svg");
  background-size: 55px;
  opacity: 0.4;
  height: 55px;
  width: 55px;
  margin-bottom: 20px;
}