.div--content-row{
    display: flex;
}
.div--content-summary{
    background-color: #32cc77;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 15px 0px #eaeaea;
}
.div--content-summary h1{
    font-size: 40px;
}
.div--content-actions{
    background-color: white;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #eaeaea;
    padding-left: 20px;
    padding-right: 20px;
}
.div--financial-row{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - 30px);
    overflow: auto;
}
.div--financial_item{
    display: flex;
    min-height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px 0px #eaeaea;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}
.financial--revenue-icon, .financial--expense-icon{
    width: 30px;
    height: 30px;
    background-size: 25px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: 3px;
}
.financial--revenue-icon{
    background-image: url("../icons/financial--up-green.svg");
}
.financial--expense-icon{
    background-image: url("../icons/financial--down-red.svg");
}
.div--financial_item_left{
    flex: 1;    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}
.div--financial_item_right{
    flex: 1;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}
.div--financial_item_right .item--price{
    width: 100px;
    text-align: center;
}
.div--financial_item_right .item--price em{
    font-style: normal;
}
.div--financial_item_right p, .div--financial_item_right div, .div--financial_item_right button, .div--financial_item_right Button{
    margin-left: 10px;
}
.div--financial_item:hover{
    cursor: pointer;
    background-color: #2386fd;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    transition: 0.2s !important;
    color: white !important;   
}
.div--financial_item:hover .checkbox--list-selection{
    display: flex !important;
}
.div--financial_item:hover .financial--tag{
    background-color: white !important;
    color: #2386fd;
}
.div--financial_item:hover .MuiCheckbox-root {
    color: white !important;
    margin-left: -8px;
}
.div--financial_item:hover .div--financial_item_left{
    padding-left: 0px;
}
.div--financial_item:hover .financial--tag:before{
    background-color: white !important;
}
.div--financial_item:hover .financial--revenue-icon{
    background-image: url("../icons/financial--up-white.svg");
}
.div--financial_item:hover .financial--expense-icon{
    background-image: url("../icons/financial--down-white.svg");
}
.div--financial-header_between{
    justify-content: space-between;
}
.financial--tag{
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #2386fd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}
.financial--tag:before {
    content: '';
    width: 20px;
    height: 22.5px;
    background-color: #2386fd;
    position: absolute;
    left: -7px;
    top: 2px;
    transform: rotate(45deg);
    border-radius: 5px;
    z-index: 200;
}
.financial--tag em{
    font-style: normal;
    z-index: 400;
    margin-left: -5px;
}