.div--content-row{
    display: flex;
}
.div--content-summary{
    background-color: #32cc77;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 15px 0px #eaeaea;
}
.div--content-summary h1{
    font-size: 40px;
}
.div--content-actions{
    background-color: white;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #eaeaea;
    padding-left: 20px;
    padding-right: 20px;
}
.div--financial-row{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - 30px);
    overflow: auto;
}

.financial--revenue-icon, .financial--expense-icon{
    width: 30px;
    height: 30px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 3px;
}
.financial--revenue-icon{
    background-image: url("../icons/financial--up-green.svg");
}
.financial--expense-icon{
    background-image: url("../icons/financial--down-red.svg");
}
.div--grid_item:hover .financial--tag{
    background-color: white !important;
    color: #2386fd;
}
.div--grid_item:hover .financial--tag:before{
    background-color: white !important;
}
.div--grid_item:hover .financial--revenue-icon{
    background-image: url("../icons/financial--up-white.svg");
}
.div--grid_item:hover .financial--expense-icon{
    background-image: url("../icons/financial--down-white.svg");
}
.financial--tag{
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #2386fd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
    width: 95px;
}
.financial--tag:before {
    content: '';
    width: 20px;
    height: 22.5px;
    background-color: #2386fd;
    position: absolute;
    left: -7px;
    top: 2px;
    transform: rotate(45deg);
    border-radius: 5px;
    z-index: 200;
}
.financial--tag em{
    font-style: normal;
    z-index: 400;
    margin-left: -5px;
}
.button--financial-toggle{
    position: absolute !important;
    top: 152px;
    background-color: white !important;
    width: 30px;
    height: 30px;
    padding: 0px !important;
    margin: 0px !important;
    min-width: 30px !important;
}
.button--financial-toggle .MuiSvgIcon-root{
    width: 20px;
    height: 20px;
}
.button--financial-donut{right: 76px !important;}
.button--financial-eyeview{right: 118px !important;}
.div--summaryChart{
    display: flex;
    flex: 1;
}