.div--content-row{
    display: flex;
}
.div--content-summary{
    background-color: #32cc77;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
}
.div--content-summary h1{
    font-size: 40px;
}
.div--content-actions{
    background-color: white;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-left: 10px;
    border-radius: 10px;
}
.div--financial-row{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - 30px);
    overflow: auto;
}
.div--financial_item{
    display: flex;
    min-height: 45px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px 0px #eaeaea;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}
.financial--revenue-icon, .financial--expense-icon{
    width: 30px;
    height: 30px;
    background-size: 25px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: 3px;
}
.financial--revenue-icon{
    background-image: url("../icons/financial--up-green.svg");
}
.financial--expense-icon{
    background-image: url("../icons/financial--down-red.svg");
}
.div--financial_item_left{
    flex: 1;    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.div--financial_item_right{
    flex: 1;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}
.div--financial_item_right .item--price em{
    font-style: normal;
}
.div--financial_item_right p, .div--financial_item_right div, .div--financial_item_right button, .div--financial_item_right Button{
    margin-left: 10px;
}
.div--financial_item_right .button--delete{
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    padding: 0px !important;
    border: 0px;
    color: black !important;
    background-color: white;
    display: none;
}
.div--financial_item:hover{
    cursor: pointer;
    background-color: #2386fd;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    transition: 0.2s !important;
    color: white !important;
}
.div--financial_item:hover .button--delete{
    display: flex;    
    border: 1.5px solid #ffffffbf;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    background-color: #D21F3C !important;
    border-radius: 6px !important;
    color: white !important;
}
.div--financial_item:hover .financial--revenue-icon{
    background-image: url("../icons/financial--up-white.svg");
}
.div--financial_item:hover .financial--expense-icon{
    background-image: url("../icons/financial--down-white.svg");
}
.div--financial-header_between{
    justify-content: space-between;
}

.div--content-actions_button-bars Button{
    cursor: pointer !important;
    animation-duration: 1s !important;
    transition: 0.2s !important;
    width: 90px;
    font-family: 'Averta' !important;
    border-radius: 10px;
    height: 85px;
    margin-right: 15px;
    margin: 11px;
    background-color: white !important;
    border: 1px solid #e0e0e0 !important;
    box-shadow: 0px 1px 2px 0px #b5b5b5 !important;
    color: #62696f !important;
}
.div--content-actions_button-bars Button:hover{
    color: white !important;
    border: 0px !important;
}
.div--content-actions_revenue:hover{ 
    background-color: #32cc77 !important; 
}
.div--content-actions_expense:hover{ 
    background-color: #D21F3C !important; 
}
.div--content-actions_export:hover{ 
    background-color: #2386fd !important; 
}
/*.div--content-actions_button-bars Button{
    height: 85px;
    background-color: transparent;
    width: 90px;
    margin: 10px;
    border: 2px solid #efefef;
    transition: 0.2s !important;
    font-family: 'Averta' !important;
    border-radius: 10px;
}
*/.div--content-actions_button-bars .MuiButton-label{
    display: flex;
    flex-direction: column;
}