.container--content-help{
    flex: 2 1;
    height: auto;
    display: flex;
    flex-direction: column;
}
.container--auxiliar-help{
    flex: 1 1;
    height: 100%;
    padding-left: 30px;
    padding-right: 10px;
    overflow: auto;
}
.container--auxiliar-help .div--help-main {
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: white;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.container--content-help h1{
    font-family: 'Averta Extra Bold';
    font-size: 20px;
}
.container--content-help .div--help-main {
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: white;
}
.container--content-help .div--help-main div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container--content-help .div--help-main div .cleiton{    
    background-image: url("../images/photo-cleiton.png");
    height: 300px;
    width: 300px;
    background-size: 300px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0px;
}
.container--content-help .container--help-form{
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2386fd;
    border-radius: 10px;
    color: white;
}

.container--content-help .container--help-form form{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
.container--content-help .container--help-form p{
    margin-bottom: 10px;
}
.container--content-help .container--help-form form label{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px;
}
.container--content-help .container--help-form form textarea{
    flex: 1;
    margin-bottom: 20px;
    font-family: 'Averta';
}
.container--auxiliar-help .button--white-context{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container--content-help .container--help-form .button--white-context:hover{
    width: 100%;
}