.container--help-questions .div--accordion-list{
    margin-top: 20px;
    width: calc(100% + 5px);
    flex-basis: calc(100% + 60px);
    overflow: auto;
    margin-right: -5px;
    padding-right: 5px;
}
.container--content-help h1{
    font-family: 'Averta Extra Bold';
    font-size: 20px;
}
.container--content-help .div--help-main {
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
}
.container--content-help .div--help-main .container--help-banner, .container--content-help .div--help-main .container--help-form{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
.container--content-help .div--help-main .container--help-form, .container--content-help .div--help-main .container--help-questions{
    margin-top: -60px;
}
.container--content-help .div--help-main div .cleiton{    
    background-image: url("../images/photo-cleiton.png");
    height: 300px;
    width: 300px;
    background-size: 300px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0px;
}
.container--help-questions .button--white-context{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    min-height: 45px;
}
.container--content-help .container--help-form .button--white-context:hover{
    width: 100%;
}
.button-chat{
    background-image: url("../images/chatBot.png");
    width: 300px;
    border: 0px;
    background-size: 209px;
    background-repeat: no-repeat;
    background-position: 62px 0px;
    background-color: transparent;
    flex: 1;
}
.button-chat:hover{    
    background-image: url("../images/chatBot--hover.png");
    cursor: pointer;
}