/***** =================================================================================================================== ******/
/***** ======================================== PROPRIEDADES DO MODAL PARA TODO MUNDO ==================================== ******/
/***** =================================================================================================================== ******/

/* Body */
.react-responsive-modal-modalCenter {
    margin: auto;
    overflow: hidden;
}
.react-responsive-modal-modal{
    border-radius: 10px;
    max-width: none !important;
    background-color: #fbfbfb !important;
    padding: 30px !important;
    max-height: 100% !important;
}
.react-responsive-modal-modal h1{
    font-family: 'Averta Extra Bold';
    text-align: center;
}
.modal--body-custom{
    display: flex;
    flex-direction: column;
    max-height: 500px;
}
.modal--body-custom .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid rgb(35, 134, 253);    
}
.modal--body-custom-title{
    font-family: 'Averta Extra Bold';
    font-size: 20px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.modal--body-custom-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex: 1 1;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 400px;
}
.modal--body-custom-content p{
    text-align: justify;
}
.modal--separator{
    background-color: #ececec;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal--separator .MuiFormControlLabel-root {
    margin-left: -2px;
}
.modal--separator-blue {
    background-color: #2386fd;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.modal--separator-blue .MuiFormControlLabel-root {
    margin-left: -2px;
}
.modal--separator-blue .MuiCheckbox-root {
    color: rgb(255 255 255 / 85%);
}
.modal--separator-blue .MuiFormLabel-root {
    color: rgb(255 255 255 / 85%);
}
.modal--separator-blue .MuiInput-root {
    background-color: #ffffff57 !important;
    border-radius: 10px !important;
    border: 0px !important;
    box-shadow: 0px 0px 0px 0px !important;
    color: rgb(255 255 255 / 85%) !important;
}
.modal--separator-blue .MuiCheckbox-colorSecondary.Mui-checked, .modal--separator-blue .MuiInputLabel-root.Mui-focused {
    color: rgb(255 255 255 / 85%) !important;
}
.modal--separator-blue .MuiButtonBase-root:hover {
    color: rgb(255 255 255 / 85%);
}
.modal--separator-blue .MuiFormControlLabel-root:hover span {
    color: rgb(255 255 255 / 85%) !important;
}
.modal--separator-blue .MuiFormControlLabel-root:hover {
    color: rgb(255 255 255 / 85%) !important;
}

.modal--fields-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100% !important;
    margin: 0px !important;
}

/* Buttons */
.react-responsive-modal-closeButton svg{
    display: none !important;
}
.react-responsive-modal-closeButton{
    right: 15px !important;
    top: 15px !important;
    height: 35px;
    width: 35px;
    cursor: pointer;
    animation-duration: 1s;
    background-color: #ffffff;
    box-shadow: 0px 0px 19px 4px #e9e9e9;
    border: 0px;
    border-radius: 5px;
    background-position: 12px;
    background-size: 12px;
    background-repeat: no-repeat;
    background-image: url("../icons/x-icon--blue.svg");
}
.react-responsive-modal-closeButton:hover{
    background-color: #2386fd;
    box-shadow: 0px 1px 2px 0px #2386fd4d;
    transition: 0.1s;
    border: 1.5px solid #ffffffbf;
    height: 35px;
    width: 35px;
    cursor: pointer;
    animation-duration: 0.1s;
    border-radius: 5px;
    background-position: 10px;
    background-size: 12px;
    background-repeat: no-repeat;
    background-image: url("../icons/x-icon--white.svg");
}

/* Headers */
.modal--header-for-calls{
    margin-top: 30px;
}
.modal--header-for-buttons{
    padding: 0px;
}
.modal--header-for-buttons Button{
    height: 50px !important;
    width: 50px;
    border-radius: 10px !important;
    border: 0px !important;
    margin-bottom: 15px !important;
    background-size: 24px !important;
    background-repeat: no-repeat !important;
    background-position: 13.5px !important;
    text-transform: none !important;
    background-color: #f0f0f0 !important;
    min-width: unset !important;
    margin-right: 15px;
}
.modal--header-for-buttons Button span{
    display: none;
}
.modal--header-for-buttons Button:hover, .modal--header-for-buttons .selected{
    cursor: pointer !important;
    animation-duration: 1s !important;
    background-color: #2386fd !important;
    background-position: 15px !important;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    transition: 0.2s !important;
    width: 105px;
    color: white !important;
    background-image: none !important;
    font-family: 'Averta' !important;
}
.modal--header-for-buttons Button:hover span, .modal--header-for-buttons .selected span{
    display: block;
}

/* Footer */
.modal--footer{
    display: flex;
    flex: 1;
}
.modal--footer button{
    cursor: pointer !important;
    animation-duration: 1s !important;
    transition: 0.2s !important;
    width: 105px;
    font-family: 'Averta' !important;
    text-transform: none;
    border-radius: 10px;
    height: 45px;
    margin-right: 15px;    
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 
                0px 2px 2px 0px rgba(0,0,0,0.14), 
                0px 1px 5px 0px rgba(0,0,0,0.12) !important;
}
.modal--footer-btn_white{
    background-color: white !important;    
    border: 1px solid #e0e0e0 !important;
    box-shadow: 0px 1px 2px 0px #b5b5b5 !important;
    color: #62696f !important;
}
.modal--footer-btn_red{
    background-color: #D21F3C !important;    
    border: 0px !important;
    box-shadow: 0px 1px 2px 0px #D21F3C !important;
    color: white !important;
}
.modal--footer-btn_blue{    
    background-color: #2386fd !important;     
    border: 0px !important;   
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    color: white !important;
}
.modal--footer button:hover{
    background-color: white !important;
    color: #62696f !important;
    border: 1px solid #b5b5b5 !important;
    box-shadow: 1px 6px 3px 0px #969696 !important;
}

/* Inputs */
.modal--body-custom-content .MuiFormControlLabel-root:hover{
    color: #2386fd !important;
}
.modal--body-custom-content .MuiFormControlLabel-root:hover span{
    color: #2386fd;
}
.modal--body-custom-content .MuiButtonBase-root:hover{
    background-color: transparent !important;
    background-position: 15px !important;
    color: #2386fd;
    box-shadow: none !important;
}
.modal--body-custom-content .MuiRadio-colorPrimary.Mui-checked{
    color: #333333 !important;
}
.modal--fields-container_half{
    display: flex;
    flex: 1;    
    flex-direction: column;
}
.modal--fields-container .modal--field,.modal--fields-container_half .modal--field{
    width: 100%;
    margin-top: 20px;
}
.modal--field .MuiFormControl-root, .modal--field .MuiInputBase-root{
    width: 100% !important;
}
.modal--field_special_legend label{
    margin-top: -2px !important;    
    margin-left: 8px !important;
    margin-bottom: 4px !important;
}
.modal--field .MuiFormControl-marginNormal{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.modal--field-groupedItem{
    display: flex;    
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
}
.modal--field-groupedItem > * {
    flex: 1;
}
.modal--separator-blue .Mui-disabled{
    color: rgba(0, 0, 0, 0.38) !important;
}
.modal--field-groupedItem_bottom_spaced{
    margin-bottom: 10px;
}
.modal--separator-blue textarea {
    background-color: #ffffff57 !important;
    border-radius: 10px !important;
    border: 0px !important;
    box-shadow: 0px 0px 0px 0px !important;
    color: rgb(255 255 255 / 85%) !important;
}

.modal--separator-blue input:-webkit-autofill,
.modal--separator-blue input:-webkit-autofill:hover, 
.modal--separator-blue input:-webkit-autofill:focus, 
.modal--separator-blue input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: white !important;
}