.container--miolo-main{
    margin-right: 10px;
}

.container--content-news{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
}
.container--content-news .div--item-news{
    display: flex;
    flex: 1 1;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    min-height: 130px;
    max-height: 130px;
    overflow: hidden;
}
.container--content-news .div--item-news:hover{
    background-color: #2386fd;
    cursor: pointer;
}
.container--content-news .div--item-news:hover h1, .container--content-news .div--item-news:hover p{
    color: white;
}
.container--content-news .div--item-news-icon{
    display: flex;
    flex-basis: 150px;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.container--content-news .div--item-news-text{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    width: 15em;
}
.container--content-news .div--item-news-text div{
    display: flex;
    justify-content: flex-end;
}
.container--content-news .div--item-news-text div button{
    width: 160px;
    height: 35px;
    border-radius: 6px;
    border: 0px;
}
.container--content-news .div--item-news-text p{
    text-align: justify;
    flex: 1 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
.container--content-news .div--item-news-text h1{
    font-size: 20px;
    margin-bottom: 10px;
    flex-basis: 10px;
}
.container--content-news h1{
    font-family: 'Averta Extra Bold';
    font-size: 20px;
}

.container--content-news .div--filter-news{
    flex-basis: 45px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}
.container--content-news .div--list-news{
    flex: 1 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    margin-top: 20px;
}