.corona--girl{background-image: url("../images/news--items/corona--girl.svg");}
.dentist--chair{background-image: url("../images/news--items/dentist--chair.svg");}
.economy--pork{background-image: url("../images/news--items/economy--pork.svg");}