.container--content-patients h1 {
    font-family: 'Averta Extra Bold';
    font-size: 20px;
}
.container--content-patients{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.container--patients-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1;
    overflow: auto;
    margin-right: 12.5px;
    padding-right: 12.5px;
}
.div--individual-card {
    display: flex;
    margin-bottom: 20px;
    flex-basis: 275px;
    max-height: 275px;
    min-height: 275px;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
.div--individual-card .div--card-background {
    background-color: white;
    flex: 1 1;
    width: calc(100% - 6px);
    align-items: center;
    justify-content: center;
    margin-top: -45px;
    margin-right: 3px;
    margin-left: 3px;
    box-shadow: 0px 0px 15px 0px #eaeaea;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.div--individual-card .div--card-picture{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-size: 97px;
    border: 3px solid #ececec;
}
.div--individual-card .div--card-picture img{
    height: 94px;
    width: 94px;
    border-radius: 10px;
}
.div--individual-card .div--card-name{
    font-family: "Averta Semibold";
    font-size: 16px;
    margin-top: 10px;
}
.div--individual-card .div--card-contact{
    color: #707070;
    margin: 5px;
}

.div--individual-card:hover .div--card-background {
    cursor: pointer !important;
    animation-duration: 1s !important;
    background-color: #2386fd !important;
    background-position: 15px !important;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    transition: 0.2s !important;
    color: white !important;
}
.div--individual-card:hover .button--card-delete{
    background-color: white;
    border-radius: 10px;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
    min-width: 50px;
    width: 50px;
    padding: 0px !important;
    border: 1.5px solid #ffffffbf;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    color: black;
}
.div--individual-card:hover .button--card-delete .MuiSvgIcon-root{
    font-size: 28px;
}

.div--individual-card:hover .div--card-contact {
    color: white !important;
}
.container--content-patients .div--search{
    margin-bottom: 20px;
}
.container--content-patients .div--card-address{
    margin-top: 10px;
}
.container--content-patients .div--content-title, .container--content-patients .div--search{
    margin-right: 28px;
}
.container--content-patients .button--card-delete{
    border-radius: 10px;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
    min-width: 50px;
    width: 50px;
    padding: 0px !important;
    color: transparent;
}
.container--patients-toolbar{
    display: flex;
    margin-right: 28px;
}
.container--patients-toolbar div:nth-child(1){
    flex: 1;
}
.container--patients-toolbar div:nth-child(2){
    flex-basis: 130px;
}
.container--patients-toolbar div:nth-child(2) Button{
    flex: 1 1;
    width: 100% !important;
}
/* Div dentro do modal de eventos */
.div--patients-information form{
    flex-direction: row;
    display: flex;
}
.div--patients-information .patients--component{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100% !important;
    margin: 0;
    margin-top: 20px;
}
.div--patients-information .div--agendaForm-times .MuiSelect-select.MuiSelect-select{
    width: 115px !important;
}
.div--patients-information-body form{
    margin-top: -35px;
}
.div--patients-information-body{
    display: flex;
}
.custom--modal-header-patient{
    padding: 0px;
}
.custom--modal-header-patient Button{
    height: 50px !important;
    width: 50px;
    border-radius: 10px !important;
    border: 0px !important;
    margin-bottom: 15px !important;
    background-size: 24px !important;
    background-repeat: no-repeat !important;
    background-position: 13.5px !important;
    text-transform: none !important;
    background-color: #f0f0f0 !important;
    min-width: unset !important;
    margin-right: 15px;
}
.custom--modal-header-patient Button span{
    display: none;
}
.custom--modal-header-patient Button:hover, .custom--modal-header-patient .selected{
    cursor: pointer !important;
    animation-duration: 1s !important;
    background-color: #2386fd !important;
    background-position: 15px !important;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    transition: 0.2s !important;
    width: 105px;
    color: white !important;
    background-image: none !important;
    font-family: 'Averta' !important;
}
.custom--modal-header-patient Button:hover span, .custom--modal-header-patient .selected span{
    display: block;
}
.div--patients-information{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.div--patients-information .modal--split-columnar{
    padding-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
}
.div--patients-information .modal--split-columnar:nth-child(1){margin-right: 7.5px;}
.div--patients-information .modal--split-columnar:nth-child(2){margin-left: 7.5px;}