.container--content-patients h1 {
    font-family: 'Averta Extra Bold';
    font-size: 20px;
}
.container--content-patients{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.container--patients-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1;
    overflow: auto;
    margin-right: 12.5px;
    padding-right: 12.5px;
}
.div--individual-card {
    display: flex;
    margin-bottom: 20px;
    flex-basis: 275px;
    max-height: 275px;
    min-height: 275px;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
.div--individual-card .div--card-background {
    background-color: white;
    flex: 1 1;
    width: calc(100% - 6px);
    align-items: center;
    justify-content: center;
    margin-top: -45px;
    margin-right: 3px;
    margin-left: 3px;
    box-shadow: 0px 0px 15px 0px #eaeaea;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.div--individual-card .div--card-picture{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-size: 97px;
    border: 3px solid #ececec;
}
.div--individual-card .div--card-picture img{
    height: 94px;
    width: 94px;
    border-radius: 10px;
}
.div--individual-card .div--card-name{
    font-family: "Averta Semibold";
    font-size: 16px;
    margin-top: 10px;
}
.div--individual-card .div--card-contact{
    color: #707070;
    margin: 5px;
}
.div--individual-card .div--card-toolbar-onlydelete{
    justify-content: space-between;
    width: 100%;
    display: flex;
}
.div--individual-card .div--card-toolbar-anamnese{
    justify-content: flex-end;
    width: 100%;
    display: flex;
}
.div--individual-card:hover .div--card-background {
    cursor: pointer !important;
    animation-duration: 1s !important;
    background-color: #2386fd !important;
    background-position: 15px !important;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    transition: 0.2s !important;
    color: white !important;
}
.div--individual-card:hover .button--card-delete{
    background-color: white;
    border-radius: 10px;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
    min-width: 50px;
    width: 50px;
    padding: 0px !important;
    border: 1.5px solid #ffffffbf;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    color: black;
}
.div--individual-card:hover .button--card-delete .MuiSvgIcon-root{
    font-size: 28px;
}

.div--individual-card:hover .div--card-contact {
    color: white !important;
}
.container--content-patients .div--search{
    margin-bottom: 20px;
}
.container--content-patients .div--card-address{
    margin-top: 10px;
}
.container--content-patients .div--content-title, .container--content-patients .div--search{
    margin-right: 28px;
}
.container--content-patients .button--card-delete{
    border-radius: 10px;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
    min-width: 50px;
    width: 50px;
    padding: 0px !important;
    color: transparent;
}
.button--card-anamnese{
    background-color: #ff4444 !important;
    border-radius: 10px !important;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
    min-width: 50px !important;
    width: 50px;
    padding: 0px !important;
    border: 1.5px solid #ffffffbf !important;
    box-shadow: 0px 1px 2px 0px #ffebeb !important;
    color: white !important;
}
.container--patients-toolbar{
    display: flex;
    margin-right: 28px;
}
.container--patients-toolbar div:nth-child(1){
    flex: 1;
}
.container--patients-toolbar div:nth-child(2){
    flex-basis: 130px;
}
.container--patients-toolbar div:nth-child(2) Button{
    flex: 1 1;
    width: 100% !important;
}
/* Div dentro do modal de eventos */
.div--patients-information form{
    flex-direction: column;
    display: flex;
}
.div--patients-information .patients--component{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100% !important;
    margin: 0;
    margin-top: 20px;
}
.div--patients-information .div--agendaForm-times .MuiSelect-select.MuiSelect-select{
    width: 115px !important;
}
.div--patients-information-body form{
    margin-top: -35px;
}
.div--patients-information-body{
    display: flex;
}
.custom--modal-header-patient{
    padding: 0px;
}
.custom--modal-header-patient Button{
    height: 50px !important;
    width: 50px;
    border-radius: 10px !important;
    border: 0px !important;
    margin-bottom: 15px !important;
    background-size: 24px !important;
    background-repeat: no-repeat !important;
    background-position: 13.5px !important;
    text-transform: none !important;
    background-color: #f0f0f0 !important;
    min-width: unset !important;
    margin-right: 15px;
}
.custom--modal-header-patient Button span{
    display: none;
}
.custom--modal-header-patient Button:hover, .custom--modal-header-patient .selected{
    cursor: pointer !important;
    animation-duration: 1s !important;
    background-color: #2386fd !important;
    background-position: 15px !important;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    transition: 0.2s !important;
    width: 105px;
    color: white !important;
    background-image: none !important;
    font-family: 'Averta' !important;
}
.custom--modal-header-patient Button:hover span, .custom--modal-header-patient .selected span{
    display: block;
}
.div--patients-anamneseinfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex: 1 1;
    margin-top: 40px;
}
.div--patients-information{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    margin-top: 12px;
    margin-bottom: 10px;
}
.div--patients-information .modal--split-columnar{
    padding-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
}
.div--patients-information .modal--split-columnar:nth-child(1){margin-right: 7.5px;}
.div--patients-information .modal--split-columnar:nth-child(2){margin-left: 7.5px;}

.patients--component .anamnese{
    width: 200px !important;
    margin-right: 10px;
}
.patients--component .anamnese .MuiSvgIcon-root{
    margin-left: 10px;
}

/* HOVER */
.div--modalPatient-body .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid rgb(35, 134, 253);    
}
.div--modalPatient-body{
    display: flex;
    flex-direction: column;
}

/* STEPS */
.div--modalAnamnese-body{
    display: flex;
    flex-direction: column;
}
.div--anamneseinfo-toolbar{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;    
    justify-content: space-between;
}
.div--anamneseinfo-toolbar .section--label{
    height: 45px;
    background-color: #f0f0f0;
    width: 105px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
}
.div--anamneseinfo-toolbar .section--label:hover .section--counter, .div--anamneseinfo-toolbar .section--label .selected{
    background-color: #2386fd;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.div--anamneseinfo-toolbar .section--counter{
    background-color: #eaeaea;
    color: black;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.div--anamneseinfo-toolbar .section--label .pending{
    background-color: #ff4444;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.div--anamneseinfo-toolbar .section--label .success{
    background-color: #47d88e;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.div--anamneseinfo-questions{
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 300px;
    overflow: auto;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.div--anamneseinfo-questions .MuiFormControlLabel-root:hover{
    color: #2386fd !important;
}
.div--anamneseinfo-questions .MuiFormControlLabel-root:hover span{
    color: #2386fd !important;
}
.div--anamneseinfo-questions .MuiButtonBase-root:hover{
    background-color: transparent !important;
    background-position: 15px !important;
    color: #2386fd !important;
    box-shadow: none !important;
}
.div--anamneseinfo-questions .MuiRadio-colorPrimary.Mui-checked{
    color: #333333 !important;
}
.div--anamnese-moreInfoInput input{
    height: 45px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    width: 100%;
}
.div--question-block{
    margin-bottom: 30px;
}
.section--previous .MuiSvgIcon-root{
    margin-left: 2.5px;
}
.section--previous .MuiSvgIcon-root{
    margin-top: 2.5px;
    margin-left: 2.5px;
}
.section--previous:hover, .section--next:hover{
    background-color: #2386fd !important;
    color: white !important;
}
.section--next, .section--previous{
    background-color: #f0f0f0 !important;
    color: black !important;
    border-radius: 20px !important;
    height: 30px;
    width: 30px;
    margin-top: 13px !important;
    cursor: pointer !important;
    min-width: 30px !important;
    max-width: 30px !important;
}
.section--next.Mui-disabled, .section--previous.Mui-disabled{
    color: rgba(0, 0, 0, 0.26) !important;
}
.modal--text-row{
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100% !important;
    margin-top: -2px !important;
}
.modal--pic-row{    
    margin: 0 !important;
    margin-top: 30px !important;
    background-color: #efefef;
    padding: 20px;
    border-radius: 10px;
    border: 1px dashed #b7b7b7;
    box-shadow: 0px 5px 7px 0px #efefefcc !important;    
    width: 100% !important;
    display: flex;
}
.modal--pic-row .div--pic-upbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal--pic-row .div--pic-text{
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.modal--pic-row .div--pic-text h1{
    font-size: 20px;
    margin: 0px !important;
}
.modal--pic-row .input--picture{
    background-color: #2386fd;
    color: transparent;
    height: 150px;
    width: 155px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    transition: 0.2s !important;
    background-position: 8px;
    background-size: 135px;
    background-repeat: no-repeat;
    background-image: url("../icons/superhero-teeth.svg");     
}
.modal--pic-row .input--picture::-webkit-file-upload-button {
  visibility: hidden;
}
.modal--pic-row .input--picture::before {
  content: '';
  display: none;
}
.modal--pic-row .div--point-left{
    background-image: url("../icons/point_left_hand.gif");  
    height: 42px;
    width: 60px;
    background-position: -19px;
    background-color: transparent;
    background-size: 105px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 60px;
    margin-left: -350px;
}
.modal--pic-row .input--picture-changer{
    color: white;
    height: 150px;
    width: 155px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #2386fd;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
}
.modal--pic-row .input--picture-changer::-webkit-file-upload-button {
    visibility: hidden;
}
.modal--pic-row .input--picture-changer::after {
    content: "Clique aqui para \A alterar a foto";
    display: inline-block;
    outline: none;
    white-space: pre-wrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-family: 'Averta';
}
.modal--pic-row .input--picture-changer::before {
    content: "Não gostou?";
    font-size: 20px;
    margin: 0px !important;
    font-family: 'Averta Extra Bold';
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    padding-top: 25px;
}
.div-pic-text-paragraphbtn{
    margin-top: 20px;
}
.div--patient-likedpic{
    color: white;
    height: 150px;
    width: 155px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #2386fd;
    box-shadow: 0px 1px 2px 0px #2386fd4d !important;
    border: 1.5px solid #ffffffbf !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.patient-pic--textneed{
    margin-left: 20px;
}
.patient-pic--cropexib{
    flex: 1;
}