.div--upload-container{
    display: flex;
}
.div--upload-upload{
    display: flex;
    flex: 1;
}
.div--upload-files{
    display: flex;
    flex: 1;
}
.div--upload-fileItem{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.div--upload-progressContainer{
    background-color: red;
    flex: 1;
    display: flex;
}
.div--upload-progressBar{
    flex: 1;
    background-color: green;
}
.div--upload-loader{
    flex-basis: 40px;
    background-color: blue;
}