.div--upload-container {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
  background-color: white;
  padding: 20px;
  border: 1px solid #dcdcdc !important;
  box-shadow: 0px 5px 7px 0px #efefefcc !important;
  border-radius: 6px;
}
.div--upload-content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}
.div--upload-files {
  margin-left: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
}
.div--upload-filerow {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}
.div--upload-filename {
  margin-bottom: 8px;
  font-size: 14px;
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #3a3a3a;
}
.btn--upload-delete{
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  border: 0px;
  background-color: #d21f3c;
  color: white;
  width: 30px;
  margin-top: -2px;
}
.btn--upload-delete svg{
  font-size: 23px;
  margin-top: 2px;
}